body {
	border-collapse: collapse;
	border: 1px solid black;
	width: 480px;
	height: 272px;
	overflow: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
	}

/* Disable text highlighting */

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* tryin to follow this answer.... http://stackoverflow.com/questions/7063974/html-and-css-lock-screen-for-mobile-web-application  */
div#lockscreen
{
width: 0;
height: 0;
position: fixed;
top: 0;
left: 0;
display: none;
}

h1 {
    font-size: 28px !important;
    font-weight: normal !important;
}
button:focus {
  outline: none;
}

@media (max-width: 500px) {
* {
cursor: none !important;
}
*:hover {
cursor: none !important;
}
*:focus {
cursor: none !important;
}
*:visited {
cursor: none !important;
}
}

