body {
	border-collapse: collapse;
	border: 1px solid black;
	width: 480px;
	height: 272px;
	overflow: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
	}
	
.TitleBackground{
  background-color: rgb(70, 70, 70);
  width: 100%;
}
.TitleWidth{
  width: 380px;
  text-indent: 10px;
  color:white;
  font-family: Georgia, Serif;
  font-size: xx-large;
}

.AlignRight {
 vertical-align: top;
 padding-right: 3px;
 font-size: 16px;
 color:white;
 font-family: Verdana, Geneva, sans-serif;
 text-indent:5px;
 width: 230px;
}

.AlignRight2 {
 padding-right: 3px;
 font-size: 16px;
 color:white;
 font-family: Verdana, Geneva, sans-serif;
 text-indent:14px;
 width: 230px;
}

.bottombar{
  position: absolute;
  top: 240px;
}

.btn-default {
  background-color: rgba(238, 244, 238, 1);
  border-color: rgba(97, 96, 96, 0.73);
}

.form-control {
  border: 1px solid rgba(97, 96, 96, 0.73);
}

/* Disable text highlighting */

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* tryin to follow this answer.... http://stackoverflow.com/questions/7063974/html-and-css-lock-screen-for-mobile-web-application  */
div#lockscreen
{
width: 0;
height: 0;
position: fixed;
top: 0;
left: 0;
display: none;
}

h1 {
    font-size: 28px !important;
    font-weight: normal !important;
}
button:focus {
  outline: none;
}

@media (max-width: 500px) {
* {
cursor: none !important;
}
*:hover {
cursor: none !important;
}
*:focus {
cursor: none !important;
}
*:visited {
cursor: none !important;
}
}

