

.TitleBackground{
  background-color: rgb(226, 226, 226);
  width: 100%;
}
.TitleWidth{
  width: 250px;
  text-indent: 10px;
  color:black;
  font-family: monospace;
  font-size: xx-large;
}

.AlignRight {
 vertical-align: top;
 text-indent: 10px;
 font-size: 16px;
 color:black;
 padding-right: 5px;
 font-family: monospace;
 text-align:right;
 width: 230px;
}

.AlignRight2 {
 vertical-align: top;
 text-indent: 10px;
 font-size: 16px;
 color:black;
 padding-right: 5px;
 font-family: monospace;
 text-align:right;
 width: 230px;
}

#points{
left: 100px;
width: 128px;
background: url('../img/points.png');
background-repeat: no-repeat;
border: none;
}

  
.bottombar{
  position: absolute;
  top: 240px;
  width: 476px;
}
  

#settings {
left: 260px;
width: 128px;
background: url('../img/setting.png');
background-repeat: no-repeat;
border: none;
}


#navlist {
    position: relative;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 40px;
}

#navlist li, #navlist a {
    height: 128px;
    display: block;
	}

.myfont {
font-family: monospace;
color: green;
}

.navbuttons{
  left: 70px;
  top: 30px;
}
