
#points{
left: 100px;
width: 128px;
background: url('../img/points.png');
background-repeat: no-repeat;
border: none;
}

  

  

#settings {
left: 260px;
width: 128px;
background: url('../img/setting.png');
background-repeat: no-repeat;
border: none;
}


#navlist {
    position: relative;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 40px;
}

#navlist li, #navlist a {
    height: 128px;
    display: block;
	}

.myfont {
font-family: monospace;
color: green;
}

.navbuttons{
  left: 70px;
  top: 30px;
}
