
.BigTableElement{
  border: solid black 1px;
  width: 331px;
  text-align: left;
  padding-left: 7px;
  font-size: 25px;
}
.SmallTableElement{
  border: solid black 1px;
  width: 150px;
  text-indent: 15px;
  font-size: 23px;

}
/*
.btn-large {
  float:left;
  width: 330px;
  height: 37px;
  padding: 0px 0px;
  font-size: 25px;
  background-color: rgba(238, 244, 238, 1);
  cursor: none;
  color: rgb(69, 135, 236);
  border: 2px solid rgba(8, 13, 16, 0.61);
  border-color: rgba(139, 139, 139, 1)
}*/

#chartbutton{
  background: url('../img/chart.png') no-repeat;
  background-position: 1px;
}

#sensorbutton {
  background: url('../img/editsensor.png') no-repeat;
  background-position: 1px;
  background-position-y: 5px;
}

.btn-mini {
  
  width: 35px; /* width of image */
  height: 38px; /* height of image */
  border: 1px solid rgba(82, 128, 150, 0.61);
  display: block;
}


#homelink{
  width: 30px;
  height: 30px;
  display: block;
}
#lockbutton{
  width:30px;
  height:30px;
  background: url('../img/lock.png');
  background-repeat: no-repeat;
  border: none;
}
#locklink{
  width: 30px;
  height: 30px;
  display: block;
}
#pad{
  padding-right: 413px;
}

#scroller {
    position: relative;  /* to enable further positioned divs inside content area */
    border: 1px solid #777;
    width:477px;
    height:190px;
    overflow: auto;
}

#sensorlist {

}



::-webkit-scrollbar-track-piece{
  -webkit-border-radius:0;
}
::-webkit-scrollbar{
  width:4px;
  height:100%;
}

::-webkit-scrollbar-thumb{
  height:50px;
  background-color:#999;
  -webkit-border-radius:4px;
  border: 2px solid rgb(70, 70, 70);
}
::-webkit-scrollbar-thumb:hover{
  height:50px;
  background-color:#9f9f9f;
  -webkit-border-radius:4px;
}


body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





